body{
    margin: 10px;
    padding: 10px;
}
#header{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 228, 228);
    width: 300px;
}
#header1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(228, 228, 228);;
    border-top: none;
    width: 300px;
}
.image{
    display: flex;
    align-items: center;

}
.doc-img{
    display: flex;
    width: 13px;
    height: 17px;
    margin-right: 10px;
    margin: 6px;
}
h1{
    color: rgb(85, 85, 85);
    font-size: 11px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin: 6px;
}
.icon-img{
    width: 200px;
    height: 33px;
}
p{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin-left: 6px;
}
.allicons{
    display: flex;
}
.icon1{
    margin-top: 19px;
    width: 17px;
    height: 17px;
    margin-left: 15px;
}
.div2{
    display: flex;
    margin-left: 130px;

}
h2{
    color: rgb(85, 85, 85);
    font-size: 11px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    margin-top: 20px;
    margin-left: 10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}